<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.number_field :usuario_id %>
  </div>
  <div class="field">
    <%= f.label :fecha_upload %><br>
    <%= f.datetime_select :fecha_upload %>
  </div>
  <div class="field">
    <%= f.label :mensaje %><br>
    <%= f.text_field :mensaje %>
  </div>
  <div class="field">
    <%= f.label :estado %><br>
    <%= f.number_field :estado %>
  </div>
  <div class="field">
    <%= f.label :fecha_publicado %><br>
    <%= f.datetime_select :fecha_publicado %>
  </div>
  <div class="field">
    <%= f.label :ruta %><br>
    <%= f.text_field :ruta %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
