<!--- Codigo para mostrar los videos -->
<div class="content">
<div class="row">
<div class="span6">

	<% if video.converted? %>

    <div id="myElement<%= video.id %>">Loading the player...</div>
    	<script type="text/javascript">
        	jwplayer("myElement<%= video.id %>").setup({
            file: "rtmp://s3mak58onym7kp.cloudfront.net/cfx/st/mp4:<%= video.attach.url[36,video.attach.url.size] %>",
            width: 420,
            height: 280,
            title: "<%= video.mensaje %>",
             rtmp: {
        		bufferlength: 0.1
    			}		
            });
            </script>
         <%else%>
            <img src= "/loading.gif" width="420" height="280">
        <% end %>
    </div> 


 	<div class="span4">
			<span class="content">
				<b>Nombre:</b> <%= video.nombre %><br>
				<b>Mensaje:</b> <%= video.mensaje %><br>
				<b>Usuario: </b> <%= Usuario.find(video.usuario_id).email %><br>
				<b>Estado:</b> <font color="red"><%= Video.estado_to_s(video.estado) %></font><br>
			</span>
			<span class="timestamp">
				<b>Creado:</b> <%= video.attach_updated_at %><br>
			</span>
			<% if !video.fecha_publicado.nil? %>
			<span class="timestamp">
				<b>Publicado:</b> <%= video.fecha_publicado %><br>
			</span>
			<% end %>
	</div>
</div>
</div>
<br><hr>
<!--- Codigo para mostrar los videos -->