<!--- Codigo para mostrar los videos -->
<div class="content">
<div class="row">
<div class="span6">

	<% if video.converted? %>

	<video id="myElement<%= video.id %>" class="video-js vjs-default-skin vjs"
	controls preload="auto" width="420" height="280"
	data-setup='{"example_option":true}'>
	<source src="<%= video.attach.url%>" type='video/mp4' />
	</video>
         <%else%>
            <img src= "/loading.gif" width="420" height="280">
        <% end %>
    </div> 


 	<div class="span4">
			<span class="content">
				<b>Nombre:</b> <%= video.nombre %><br>
				<b>Mensaje:</b> <%= video.mensaje %><br>
				<b>Usuario: </b> <%= Usuario.find(video.usuario_id).email %><br>
				<b>Estado:</b> <font color="red"><%= Video.estado_to_s(video.estado) %></font><br>
			</span>
			<span class="timestamp">
				<b>Creado:</b> <%= video.attach_updated_at %><br>
			</span>
			<% if !video.fecha_publicado.nil? %>
			<span class="timestamp">
				<b>Publicado:</b> <%= video.fecha_publicado %><br>
			</span>
			<% end %>
	</div>
</div>
</div>
<br><hr>
<!--- Codigo para mostrar los videos -->