<!--- Codigo para mostrar los videos -->
		<li>
			<span class="content">
				<b>Nombre:</b> <%= video.nombre %>
				<p> <b>Mensaje:</b> <%= video.mensaje %> </p>
				<p> <b>Estado:</b> <%= Video.estado_to_s(video.estado) %> </p>
			</span>
			<span class="timestamp">
				<b>Creado</b> <%= video.attach_updated_at %>
			</span>
			<% if !video.fecha_publicado.nil? %>
			<span class="timestamp">
				Publicado <%= video.fecha_publicado %>
			</span>
			<% end %>
		</li>
<!--- Codigo para mostrar los videos -->