<% provide(:title, "Todos los Usuarios") %>
<h1>Lista de usuarios</h1>


<%= will_paginate %>
<ul class="users">
  <% @usuarios.each do |user| %>
    <li>
      <%= link_to "#{user.nombre} #{user.apellido}", user %> , < <%= user.email %> >, cantidad de videos subidos: <%= user.videos.count %> 
    </li>
  <% end %>
</ul>
<%= will_paginate %>
