<div class="row">
<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %> <%= @usuario.apellido %> < <%= @usuario.email %> >
</p>

	<h3> Postear un Video </h3>
	<%= link_to "Subir Video!", new_video_path, class: 'btn btn-large btn-primary' %> <br>

<br>
	<% if @usuario.videos.any? %>
		<h3> Videos </h3>
			<%= render @videos %>
		<%= will_paginate @videos %>
	<% end %>


</div>
<br>
<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>